

<h1>Crear Comic</h1>

<form method="post">

    <label>Nombre</label>
    <input type="text" name="nombre" />
    <label>Descripcion</label>
    <input type="text" name="descripcion" />
    <label>Imagen</label>
    <input type="text" name="imagen" />
    <button>
        Crear Comic
    </button>
    
</form>

